bin
obj
.vs
packages
SharedPowerpointFavoritesPluginInstaller/Debug
SharedPowerpointFavoritesPluginInstaller/Release
SharedPowerpointFavoritesPluginInstaller/DebugAdmin
SharedPowerpointFavoritesPluginInstaller/ReleaseAdmin